{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <!-- Styles -->
    <link rel="preconnect" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    {% block css %}

    {% endblock %}

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap" rel="stylesheet">

</head>
<body>
    <header class="header">
        <img src="{% static 'icon/menu.svg' %}" class="header-menuicon">
        <h1 class="header-title">
            The super downloader
        </h1>
    </header>
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>